.footer {
    background-color: #0545ce;
    padding: 40px 0;
    color: white;
    margin-top: 100px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-column {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons a {
    color: white;
    font-size: 18px;
  }
  
  .footer-bottom {
    /* background-color: #ffffff; */
    padding: 10px 0;
    text-align: center;  
    border-radius: 5px;
  }
  
  .footer-bottom p {
    font-size: 12px;
    margin: 0;
    text-align: center;
  }